<mat-toolbar class="navBar-sty">
  <button mat-raised-button color="accent" class="btn-sty-icon" aria-label="Example icon-button with menu icon" (click)="toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <span>Flipkart Grid 3.0</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="accent" class="btn-sty" aria-label="Example icon-button with menu icon" (click)="routeSigninPage()">
    Sign In
  </button>
  &nbsp; &nbsp;
  <button mat-raised-button color="accent" class="btn-sty" aria-label="Example icon-button with menu icon" (click)="routeSignupPage()" >
    Sign Up
  </button>
  &nbsp;&nbsp;


</mat-toolbar>
