
<div class="container" >
  <div class="card">
      <form onsubmit="event.preventDefault()" class="box">
          <h1>Sign-up</h1>
          <p class="login-text"> Please enter your Details!</p> <input class="login-text" type="text" name="" placeholder="Username">
          <input class="login-text" type="email" name="" placeholder="email">
          <input class="login-text" type="password" name="" placeholder="Password">
          <div class="row" style="display: inline-block;">
            <div class="col-xs-6">
          <input type="submit" name="" value="Sign Up" href="#"></div>
          <div class="col-xs-6"><input type="reset" name="" value="Clear" href="#"></div>
          </div>
          <div class="col-md-12">
              <ul class="social-network social-circle">
                  <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
              </ul>
          </div>
      </form>
  </div>
</div>
<div style="height: 200px;"></div>

